@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");

:root {
    --primary-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body {
    width: 100vw;
    height: 100vh;

    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Search */

.search {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    gap: 15px;

    transition: background-color, backdrop-filter, 0.2s;
}

.search.show-menu {
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
}

.search-bar {
    display: flex;
    align-items: center;
    height: fit-content;
    flex-shrink: 0;

    background-color: #fff;
    border-radius: 20px;
    box-shadow: var(--primary-box-shadow);
    overflow: hidden;
}

.search-bar-input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 1.2em;
    transition: transform 0.2s;
}

.search-bar-input.hide-back {
    transform: translateX(-30px);
}

.search-back {
    font-size: 1.5em;
    padding-inline: 15px 5px;
}

.search-results {
    flex-grow: 1;
    max-height: fit-content;

    border-radius: 7px;
    background-color: #fff;
    box-shadow: var(--primary-box-shadow);
    overflow-y: scroll;
}

.show-menu-enter-active, .show-menu-leave-active {
    transition: transform, opacity, 0.2s;
}

.show-menu-enter, .show-menu-leave-to /* .fade-leave-active below version 2.1.8 */ {
    transform: translateX(-30px);
    opacity: 0;
}

.search-result {
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 10px;
    
    border-bottom: 1px solid #eee;
}

.search-result-icon {
    font-size: 1.5em;
}

.not-recent .search-result-icon {
    opacity: 0;
}

.preview {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    padding: 15px;

    border-radius: 20px 20px 0 0;
    background-color: #fff;
    box-shadow: var(--primary-box-shadow);
}

.preview-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.preview-start {
    margin-top: auto;

    background-color: #2d85ff;
    color: #fff;
    border-radius: 20px;
    width: min-content;
    padding: 5px 20px;
}

.preview-image {
    border-radius: 10px;
}