@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");

:root {
    --primary-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body {
    width: 100vw;
    height: 100vh;

    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Search */

.search {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    gap: 15px;

    transition: background-color 0.2s ease-in-out;
}

.search.show-menu {
    background-color: #eee;
    height: 100%;
}

.search-bar {
    display: flex;
    align-items: center;


    background-color: #fff;
    border-radius: 20px;
    box-shadow: var(--primary-box-shadow);
    overflow: hidden;
}

.search-bar-input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 1.2em;
    transition: transform 0.3s ease-in-out;
}

.search-bar-input.hide-back {
    transform: translateX(-30px);
}

.search-back {
    font-size: 1.5em;
    padding-inline: 15px 5px;
}

.search-results {
    border-radius: 7px;
    background-color: #fff;
    overflow-y: scroll;
}

.search-result {
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 15px;
    
    border-bottom: 1px solid #eee;
}

.search-result-icon {
    font-size: 1.5em;
}

.not-recent .search-result-icon {
    opacity: 0;
}