@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");

body {
    width: 100vw;
    height: 100vh;

    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hidden { display: none; }

input:focus { outline: none; }

/* Location Search */

.location-search-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    inset: 0;
    padding: 20px;

    background-color: #fff;
    transition: transform 0.3s;
}

.location-search-body {
    overflow-y: auto;
}

.location-search-bar {
    display: flex;
    align-items: center;
    padding: 0 15px;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    overflow: hidden;
}

.location-search-back {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

.location-search-input {
    flex-grow: 1;
    padding: 10px;
    
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
    border: none;
}

.location-search-results * {
    padding: 15px 0;

    font-size: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.location-search-recents-label {
    color: #222;
    font-weight: 500;
    padding: 15px 0 5px 0;
}

.location-search-recents * {
    padding: 15px 0;

    font-size: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* Location Selection */

.location-selector-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 5px;
    gap: 10px;

    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.location-selector {
    display: flex;
}

.location-input {
    flex-grow: 1;
    padding: 10px;

    color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.location-icon {
    padding: 8px;

    font-size: 20px;
}

.origin-icon {
    color: blue;
}

.destination-icon {
    color: red;
}

/* Floor Selection */

.floor-selector {
    position: absolute;
    bottom: 15px;
    right: 15px;

    background-color: white;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    overflow: hidden;
}

.floor-selector * {
    width: 50px;
    height: 50px;

    line-height: 50px;
    text-align: center;
}

.floor-selector *.selected {
    background-color: rgba(0, 0, 0, 0.05);
}

.first-floor {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}