<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=0">

    <link rel="stylesheet" href="index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <canvas class="canvas"></canvas>

    <div class="app"></div>

    <div v-bind:class="{ 'show-menu': isMenuOpen }" class="search">
        <div class="search-bar">
            <i v-on:click="closeMenu" class="bi bi-arrow-left search-back"></i>
            <input v-bind:class="{ 'hide-back': !isMenuOpen }" v-on:focus="openMenu" v-on:input="search" class="search-bar-input" placeholder="Search here">
        </div>
        <transition name="show-menu">
            <div v-if="isMenuOpen" class="search-results">
                <div v-for="result in searchResults">
                    <div v-bind:class="{ 'not-recent': !result.recent }" v-bind:click="clickedResult(result)" class="search-result">
                        <i class="bi bi-clock-history search-result-icon"></i>
                        <div class="search-result-text">{{ result.text }}</div>
                    </div>
                </div>
            </div>
        </transition>
    </div>

    <script src="map.js"></script>
    <script src="index.js"></script>
</body>

</html>